@import "../shared";

a.roundButton:hover {
   text-decoration: none;
}

.roundButton {
   text-decoration: none;
   cursor: pointer;

   flex-flow: row nowrap;      /* always use a single line */
   align-items: center;        /* align children vertically */
   justify-content: space-between;
   outline: none;

   &.selected {
      @include set-colors(neumorph-selected);
   }

   display: flex;   // Use as much horizontal space as possible
   &.noexpand {
      display: inline-block;
   }

   /* the text. This rule must come first, in case we show no text */
   span:last-child {
      flex: 1 1;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
   }

   span:first-child {
      flex: none;
      border-radius: 50%;
      width: var(--rb-width);
      height: var(--rb-height);

      display: flex;          /* center text inside */
      align-items: center;
      justify-content: center;

      &.flat {
         border: 1px solid var(--input-border);
      }
      &.noborder {
         border-width: 0;
      }
   }

   &.large {
      --rb-width: 3.5rem;
      --rb-height: 3.5rem;
      img {
         width: 3.3rem;
      }
      .fa {
         font-size: 1.5em;
      }
   }

   &.normal {
      --rb-width: 3rem;
      --rb-height: 3rem;
      img {
         width: 2rem;
      }
      .fa {
         font-size: 1.2em;
      }
   }

   &.small {
      --rb-width: 2rem;
      --rb-height: 2rem;
      img {
         width: 1.5rem;
      }
      .fa {
         font-size: 1em;
      }
   }

   &.tiny {
      --rb-width: 1.0rem;
      --rb-height: 1.0rem;
      .fa {
         font-size: 0.7em;
      }
      span:first-child {
         margin: 2px;
      }
      span:first-child + span {
         margin-left: 8px;
      }
   }

}
