@import "../shared";

.header {
   grid-area: header;

   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: stretch;
   gap: var(--gap-horiz);
   width: 100%;

   .canMaximize {
      cursor: nesw-resize;
      &:hover {
        text-decoration: underline;
     }
   }
 
   .group {
      flex: 0;   /* Do not increase width or height of the group */
      display: flex;
      justify-content: center;   /* horizontally */
      align-items: stretch;      /* vertically */
   }

   #app > & h5 {
      flex: 1 1;         /* Allow to expand as needed, to fit text */
      font-size: 2em;
      font-weight: bold;

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;  /* center vertically */
      line-height: 1em;
      margin: 10px 0 0 0;

      .select {
         .dropdownButton {
            @include set-colors(page);
            border: none;
         }
         .selector .menu {
            font-size: 1rem;
         }
      }
   }
}
