.dashboard {
   --num-cols: 4;
   --num-cols-minus-one: calc(var(--num-cols) - 1);
   --w: calc(100% - var(--num-cols-minus-one) * var(--col-gap));
   --cw: calc(var(--w) / var(--num-cols));
   --panel-height: 150px;

   &.rsidebar {
      // On the sidebar, we use a single column to show all panels. This also
      // lets us collapse panels
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start; // space-between;
      align-items: stretch;  // panels should use full width of the column
      gap: var(--row-gap);

      grid-area: rsidebar; // Show on the right-side of the screen
      margin-right: var(--side-margin);

      //grid-template-columns: 100%;
      //grid-template-rows: repeat(auto-fit, minmax(var(--panel-height), 1fr));
   }
   &.main {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, var(--cw)));
      grid-template-rows: repeat(auto-fit, minmax(var(--panel-height), auto));
      grid-auto-flow: row;  /* dense */
      column-gap: var(--col-gap);
      row-gap: var(--row-gap);
   }

   // justify-items: stretch;
}
