@import "../shared";

.panel {

   .not_neumorph_mode & {
      @include set-colors(panel);
      box-shadow: 6px 6px 10px 0 var(--shadow-color);
      border: 1px solid var(--panel-border);
      border-radius: 10px;
   }
   .neumorph_mode & {
      @include neumorphism($hover: false, $margin: false, $distance: 3px);
      border-radius: 15px;
   }

   display: flex;
   flex-flow: column nowrap;
   width: 100%;

   min-height: var(--panel-height);
   &.row0 {
      // when the panel is minimized
      min-height: auto;
   }

   &.fixedsize {
      flex-grow: 0;
   }

   .panel {
      /* when nested, like Investments page */
      margin-top: 5px;

      .header h5 {
         @include set-colors(pane); // override h5 color below for Ticker
      }
   }

   .header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 5px;

      h5 {
         flex: 1 1;
         font-variant: small-caps;

         .not_neumorph_mode & {
            @include set-colors(panel-title);
         }
         .neumorph_mode & {
            color: var(--panel-title-fg);
         }
      }
      .group {
         flex: 0 0;
         display: flex;
         justify-content: center;
         align-items: stretch;
         gap: 5px;
         margin-right: 5px;
         // @include set-colors(panel-faded);
      }
   }

   > .content {
      flex: 1 1;
      display: flex;
      flex-flow: column nowrap;
      padding: 0 10px 5px 10px;
   }

   .settingsMenu {
      position: relative;
      cursor: pointer;
   }
}

// Panels could be children of a grid (main dashboard), or a flexbox (side
// bars), so we setup properties for both.
// col0 and row0 are set when a panel is minimized.
.col0 { grid-column: auto }
.col1 { grid-column: auto / span 1; }
.col2 { grid-column: auto / span 2; }
.col3 { grid-column: auto / span 3; }
.col4 { grid-column: auto / span 4; }

.row0 { grid-row: auto;          flex: 0 0; }
.row1 { grid-row: auto / span 1; flex: 1 1; }
.row2 { grid-row: auto / span 2; flex: 2 1; }
.row3 { grid-row: auto / span 3; flex: 3 1; }
.row4 { grid-row: auto / span 4; flex: 4 1; }
