@import "../shared";

.numeric {
   @include numeric-font;

   span.prefix {
      margin-right: 3px;
   }
   span.suffix {
      margin-left: 3px;
   }

   &.positive {
      color: var(--positive-fg);
   }
   &.negative {
      color: var(--negative-fg);
   }
}
