@import "../shared";

.tooltip-base {
   @include set-colors(tooltip);
   border: 1px solid var(--tooltip-border);
   border-radius: 4px;
   box-shadow: 4px 4px 8px 0 var(--shadow-color);
   font-size: 1rem;
   padding: 5px;

   .label {
      font-weight: bold;
   }

   th {
      font-weight: bold;
      padding: 2px 0;
   }

   th + td {
      padding-left: 10px;
   }

   tr td:first-child {
      text-align: left;
   }
   td {
      text-align: right;
      padding-right: 10px;
   }
}

.tooltip {
   --tooltip-arrow-size: 6px;

   cursor: default;
   display: none;
   pointer-events: none;
   position: absolute;
   text-align: left;
   transition: all 0.2s ease 0s;
   white-space: normal;
   min-height: 50px;
   min-width: 200px;
   max-width: 400px;
   z-index: var(--zindex-tooltip);

   &.visible {
      display: block;
   }

   table.return {
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
      th {
         font-weight: bold;
      }
      td {
         text-align: right;
      }
      :is(th,td) {
         border: 1px solid var(--shadow-color);
      }
   }

   // Arrows
   &::before {
      content: " ";
      border: solid transparent;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: var(--tooltip-arrow-size);
   }
   &.top::before {
      top: 100%;
      left: 50%;
      border-top-color: var(--tooltip-border);
      margin-bottom: calc(var(--tooltip-arrow-size) * -1);
   }
   &.bottom::before {
      bottom: 100%;
      left: 50%;
      border-bottom-color: var(--tooltip-border);
      margin-top: calc(var(--tooltip-arrow-size) * -1);
   }
   &.left:before {
      left: 100%;
      top: 50%;
      border-left-color: var(--tooltip-border);
      margin-right: calc(var(--tooltip-arrow-size) * -1);
   }
   &.right:before {
      right: 100%;
      top: 50%;
      border-right-color: var(--tooltip-border);
      margin-left: calc(var(--tooltip-arrow-size) * -1);
   }
}
