@import "../shared";
.ledgerTable {
   flex: 1 1;  /* ledger itself occupies as much space as possible */

   a {
      text-decoration: none;
   }

   .tr {
      //@include set-colors(table-row-details);
      //font-style: italic;

      &.nesting-0 {
         color: inherit;
         font-style: inherit;
      }

      /* Editing */
      &.edit {
         .td :is(input, select) {
            width: calc(100% - 9px);
         }
         .td.reconcile select {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
         }
      }
   }

   /**
    * Column-specific settings
    */
   .num {  // check number
      flex: 0 1 5rem;
   }
   .reconcile {
      flex: 0 1 10px;
      text-align: center;
   }
   :is(.payee, .transfer) {
      min-width: 150px;
   }
   .summary {
      flex: 1 1;
      text-align: right;
   }
   .memo {
      margin-left: 40px;
   }
   .tfoot .th {
      text-align: right;
   }

   // .memo {
   //    border-left: 1px solid var(--gray-400);
   // }
   // .trgroup .tr:first-child .date,
   // .trgroup .tr:first-child .num {
   //    border-bottom: 1px solid var(--gray-400);
   // }
}
