.networth {
   flex: 1 1;

   .thead .tr span {
      white-space: wrap;
   }

   .tr {
      span:first-child {
         flex: 1 1 150px;
      }
      span:not(:first-child) {
         &.span3 {
            flex-basis: calc( var(--col-width) * 3 );
         }
         &.span2 {
            flex-basis: calc( var(--col-width) * 2 );
         }
      }
   }

   :is(.tfoot, .tbody) .tr span:not(:first-child) {
      text-align: right;
   }
}
