@import "../shared";
.page {
   @include set-colors(page);
}

#app {
   --row-gap: 1rem;
   --col-gap: 1rem;
   min-width: 100vw;
   min-height: 100vh;

   --footer-height: 0px;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr minmax(auto, 220px);
   grid-template-areas:
      "header"
      "lsidebar"
      "main"
      "rsidebar"
      "footer";
   column-gap: var(--col-gap);
   row-gap: var(--row-gap);
   justify-items: stretch;

//   background-image: url('./coins2.png');
//   background-repeat: no-repeat;
//   background-position: right bottom;
//   background-size: auto 50%;

   @media only screen and (min-width: 1025px) {
      grid-template-columns: auto 1fr minmax(auto, 220px);
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
         "lheader header rheader"
         "lsidebar main rsidebar"
         "footer footer footer";
   }
}

.main {
   grid-area: main;
}

.main-area {
   grid-area: main;
   width: 100%;
   height: 100%;

   display: flex;
   flex-flow: column nowrap;
   gap: var(--row-gap);
}

