@import "../shared";
.dropdown {
   height: 100%;
   cursor: pointer;
   position: relative;
   outline: 0;

   display: flex;
   flex-flow: row nowrap;
   align-items: center;            // center vertically

   & > .dropdownButton {
      display: flex;
      flex-flow: row nowrap;
      gap: 20px;
      justify-content: space-between; // arrow to the right
      align-items: center;            // center vertically
      min-height: var(--input-height);
   }

   .select & {
      flex: 1;
      min-width: 120px;
   }

   .select & .dropdownButton {
      @include set-colors(input);
      border: 1px solid var(--input-border);
      padding: 0 5px;
      flex: 1 1;
   }

   &.offscreen {
      overflow: hidden;  // avoid flickering scrollbars while menu is offscreen
      & > .menu {
         left: 100000px;
      }
   }

   & > .menu {
      @include set-colors(panel);
      font-size: 0.8rem;
//      overflow: hidden;

      box-shadow: 3px 3px 4px 0 var(--shadow-color);
      border-radius: .28571429rem .28571429rem 0 0;

      border: 1px solid var(--panel-border);

      left: 0;

      cursor: auto;
      position: absolute;
      outline: 0;
      width: 100%;             // use same width as the selector itself
      min-width: max-content;  // but leave space to show full items text
      margin: 0;
      padding: 10px;
      z-index: var(--zindex-dropdown);

      &.animate {
         transform: scaleY(0);
         transition: transform 0.2s ease-out;
         &.visible {
            transform: scaleY(1);
         }
      }
   }

   &.left > .menu {
      right: 0;
      left: auto;
   }

}
