.multipleSelect {
   margin: var(--vert-spacing) 0;

   > div {
      flex: 1;
   }

   .indrag {
      opacity: .2;
   }
   .before {
      border-top: 2px solid black;
   }
   .after {
      border-bottom: 2px solid black;
   }

   .draghandle {
      display: inline-block;
      width: 14px;
      opacity: .3;
      cursor: move;
   }
   .fa.fa-grip:before {
      content: "\f142 \202F \f142";   // ellipsis-v + space + ellispis-v
   }

   .row {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;

      label {
         flex: 1 1;
      }
   }
}


