@import "../shared";
.uploadForm {
   @include set-colors(input);
   width: 400px;
   margin: 0 auto;

   /* Large form */
   .maxi {
      text-align: center;
      padding: 10px 20px 10px 20px;
      outline: 2px dashed #AAA;
      outline-offset: -5px;

      .icon {
         font-size: 3em;
      }
      label {
         display: flex;
         flex-flow: column nowrap;
         width: 100%;
      }
   }

   /* Hide the input, but still display it so that it works */
   input[type=file] {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
   }
   label {
      cursor: pointer;
   }

   .files {
      text-align: center;
      padding: 0;
      list-style: none;
   }
}
