#lsidebar {
   grid-area: lsidebar;
   margin-left: var(--side-margin);

   display: flex;
   flex-flow: column nowrap;  /* desktop */
}

@media only screen and (max-width: 799px) {
   #lsidebar {
      flex-flow: row wrap;  /* tablet */

      .roundButton span:last-child {
         display: none;  /* hide text */
      }
      h3 {
         display: none;
      }
   }
}

