@import "../shared";

.investments {
   --gap: 10px;
   --items-per-row: 4;

   --items-per-row-minus-1: calc(var(--items-per-row) - 1);
   --small-gap: calc( var(--gap) * var(--items-per-row-minus-1) / var(--items-per-row));


   width: 100%;   // Use all available space
   height: 100%;  // Use all available space

   display: grid;
   grid-template-columns: repeat(auto-fill, calc(100% / var(--items-per-row) - var(--small-gap)));
   grid-template-rows: repeat(auto-fit, minmax(var(--panel-height), auto));
   grid-auto-flow: row;
   grid-gap: var(--gap);
   justify-items: stretch;
}

.dash-investments.asgrid > .content {
   @include set-colors(page);
}
