@import "../shared";
.dash-ticker {
   box-sizing: border-box;
   transition: transform 0.3s;

   &:hover {
      // ??? With this, tooltips are displayed below graphs in other boxes
      // transform: scale(1.1);
   }

   .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      width: 100%;
      margin-top: 10px;

      .item {
         flex: 0 0 calc(50% - 5px);
         display: flex;

         &:hover .tooltip {
            display: block;
         }
         .head {
            @include set-colors(panel-faded);
            flex: 1;
            white-space: nowrap;
         }
         .value {
            flex: 1;
            text-align: right;
         }
      }
   }

   .priceGraph {
      flex: 0 1 100px;
   }

   .prices {
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
   }

   .perf {
      min-height: 4em;

      & > table {
         margin-top: 10px;
         width: 100%;
         :is(td,th):hover .tooltip {
            display: block;
         }
      }

      table {
         table-layout: fixed;
         border-collapse: collapse;
         td, th {
            border: 1px solid var(--table-border);
            text-align: center;
         }
         th {
            font-weight: bold;
         }
      }
   }
}
