@use "sass:list";
@use "sass:map";
@import "../shared";

.styleguide {
   min-width: 100vw;
   min-height: 100vh;

   display: flex;
   flex-flow: row nowrap;
   align-items: stretch;
   gap: 20px;

   > div {
      flex: 1 1;
   }
   .twocolumn {
      display: flex;
      flex: row nowrap;
      > div {
         flex: 1 1;
         margin: 0 10px;
      }
   }
   .wrappedRow {
      display: flex;
      flex-flow: row wrap;
      gap: 10px;
   }
   .palette {
      display: flex;
      flex-flow: row nowrap;
      gap: 5px;
      min-height: 40px;
      @include generate-color-vars(blue, $blue);
      @include generate-color-vars(indigo, $indigo);
      @include generate-color-vars(purple, $purple);
      @include generate-color-vars(pink, $pink);
      @include generate-color-vars(teal, $teal);
      @include generate-color-vars(orange, $orange);
      @include generate-color-vars(yellow, $yellow);
      @include generate-color-vars(cyan, $cyan);

      @include generate-color-vars(red-mantine, $red-mantine);
      @include generate-color-vars(pink-mantine, $pink-mantine);
      @include generate-color-vars(grape-mantine, $grape-mantine);
      @include generate-color-vars(violet-mantine, $violet-mantine);
      @include generate-color-vars(indigo-mantine, $indigo-mantine);
      @include generate-color-vars(blue-mantine, $blue-mantine);
      @include generate-color-vars(cyan-mantine, $cyan-mantine);
      @include generate-color-vars(teal-mantine, $teal-mantine);
      @include generate-color-vars(green-mantine, $green-mantine);
      @include generate-color-vars(lime-mantine, $lime-mantine);
      @include generate-color-vars(yellow-mantine, $yellow-mantine);
      @include generate-color-vars(orange-mantine, $orange-mantine);

      > * {
         flex: 1 1;
         display: flex;
         align-items: center;
         padding: 0 5px;
      }
   }

   .row {
      display: flex;
      flex-flow: row wrap;
   }
}

.neumorphic {
   width: 80px;
   height: 80px;

   .lightpalette & {
      @include neumorphism(light);
   }
   .darkpalette & {
      @include neumorphism(dark);
   }
}
