.metrics {
   display: flex;
   flex-flow: row nowrap;
   gap: 20px;
   align-items: center;

   & + .metrics {
      margin-top: 10px;
   }

   p {
      margin: 0;
   }

   .descr {
       font-style: italic;
      font-size: 0.8em;
   }

   div:first-child {
      flex: 1 1;
   }

   .values {
      flex: 0 0 15ch;
      text-align: right;
   }
   .value {
      font-weight: bold;
      font-size: 1.2em;
      text-align: right;
      //text-decoration: underline;
      //text-decoration-style: dashed;
      margin-right: var(--scrollbar-width);
   }
   .recommended {
      opacity: 0.8;
      text-align: right;
   }
}

