.dash-incomeexpenses {

   .recharts-legend-wrapper {
      height: 100% !important;
      overflow-x: hidden !important;
      top: 0 !important;

      min-width: 35ch;
      max-width: 35ch;
      white-space: nowrap;
   }

   .recharts-default-legend {
      width: 100%;

      li {
         display: flex !important;

         > .recharts-legend-item-text {
            display: inline-block;
            flex: 1 1; // use all width not occupied by SVG

            > span {
               display: flex;

               span {
                  flex: 0 0 60px;
                  text-align: right;
               }
               span:first-child {
                  flex: 1 1;
                  text-align: left;
               }
            }
         }
      }
   }

   .total {
      font-size: 1.8em;
   }
   .legend {
      font-size: 0.6em;
      fill: var(--cartesian-grid);
   }
   .inactive {
      opacity: 0.7;
      transition: opacity ease-out 0.2s;
   }

   .totalBars {
      text-align: right;
      position: absolute;
      bottom: 2.5em;
      width: 100%;
   }
}
