@import "../shared";

.account {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   font-variant: none;
   cursor: pointer;

   &.closed {
      text-decoration: line-through;
   }
}

.multiAccountSelect {
   label {
      margin: 0;
   }
   .custom {
      height: calc(15 * var(--row-height));
      min-width: 300px;
   }
}
