.welcome {

   .importtypes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;

      button {
         min-height: 50px;

         display: flex;
         flex-flow: column nowrap;

         a {
            text-decoration: underline;
         }

         b {
            height: 40px;
            display: flex;
            align-items: center;
         }

         p {
            text-align: left;
         }
      }
   }

}
